.container{
    width: 90%;
    min-height: 100vh;
    min-height: 100vh;
    background-color: #191919;
    color: #fff;
    padding-bottom: 1rem;
    text-align: center;
    margin: auto;
    overflow: hidden;
    padding-inline: 1.5rem;
}